.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 80%;

    
}

nav{
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 5rem;
}
.nav-links {
    display: flex;
    gap: 1rem;
}

.nav>h1>img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
.nav>h1{
    display: flex;
    align-items: center;
}

a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #b8ffbc;
}

@media screen and (max-width: 768px) {
    .nav {
        width: 100%;
    }
    .nav-links {

        gap: 0.5rem;
    }
}
